language: go

go:
  - 1.5

before_install:
  - go get github.com/onsi/gomega
  - go get github.com/onsi/ginkgo

script:
  - go test -coverprofile=coverage.txt -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash) || echo "Codecov did not collect coverage reports"
